
.header {
  height: 64px;
  border-top: solid #0addd7 5px;
  box-shadow: inset 0px -1px 0px #EFEFEF;
  box-sizing: border-box;
  width: 100%;
}

.air-logo {
  margin: 20px 0px 20px 132px;
  width: 60px;
  height: 24px;
}

.air-logo:hover {
  cursor: pointer;
}
